body {
  width: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 30px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#day-selector {
  display: flex;
  align-items: center;
  justify-content: center;
}

#day-editor {
  cursor: pointer;
}