body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 30px;
  height: 100%;
  padding: 0;
  margin: 5px;
  margin-top: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-color: black;
  color: deeppink;
}

h3, p, #message {
  padding: 0px;
  margin: 0px;
  font-size: 15px;
}

#wrapper {
  width: 100%;
}

#day-selector {
  display: flex;
  align-items: center;
  justify-content: center;
}

#day-editor {
  cursor: pointer;
}

button {
  width: 100%;
  font-size: 30px;
  margin-top: 10px;
  background-color: black;
  color: deeppink;
  border: solid 1px deeppink;
}

.timer-wrapper {
  padding-bottom: 20px;
  padding-top: 10px;
  margin-top: 10px;
  border: solid 1px black;
}
